{# Import future Django 1.5 url template API #}
{% load url from future %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}RFP Madness Page (needs title!){% endblock %}</title>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body>

    <div id="body_title">
        <h1>{% block body_title %}Needs body_title block!{% endblock %}</h1>
    </div>

    <div id="sidebar">
        {% block sidebar %}
            <h3>Left Sidebar</h3>
            <ul>
                <li><a href="{% url 'rfp_madness.kbase.views.index' %}">Knowledgebase Home</a></li>
                <li><a href="{% url 'rfp_madness.kbase.views.add_rfp_form' %}">Go To Add RFP Form</a></li>
                <li><a href="/admin">Go To Admin Interface</a></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content_title">
        <h3>{% block content_title %}Needs content_title!{% endblock %}</h3>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>



