{% extends "base.html" %}

{# Use Django 1.5 compatibible 'url' template tag #}

{% load url from future %}

{% block title %}RFP Madness Login{% endblock %}

{% block body_title %}RFP Madness Login{% endblock %}

{% block content_title %}Login Here:{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login" />

        {# TODO if next is empty, give it the root uri #}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <p>BUG: After login, redirect to root uri. Currently, after successful login, the login form remains.</p>


    <p>The temporary workaround is to click one of sidebar links after logging in.</p>

{% endblock %}